body{
    background: rgb(121, 164, 245);
    font: normal 15pt Arial;
    text-align: center;
    
}

body img {
    width: 250px;
    height: 250px;
    border-radius: 180px;
}

header{
    color: white;
}

div {
    padding: 8px;
}

section{
    background: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 10px;

}

footer{
    color: white;
    font-style: italic;
}